body {
    background-color: #000;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #fff;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    animation: imageAnimation 25s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(https://images.pexels.com/photos/1149022/pexels-photo-1149022.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)
}

.slideshow li:nth-child(2) {
    background-image: url(https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    animation-delay: 5s;
}

.slideshow li:nth-child(3) {
    background-image: url(https://images.pexels.com/photos/41208/fun-cold-elegance-face-41208.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    animation-delay: 10s;
}

.slideshow li:nth-child(4) {
    background-image: url(https://images.pexels.com/photos/156731/pexels-photo-156731.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    animation-delay: 15s;
}

.slideshow li:nth-child(5) {
    background-image: url(https://images.pexels.com/photos/972217/pexels-photo-972217.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    animation-delay: 20s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 0
    }
}
